<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Keep the standard nuget gallery -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Add the official BepInEx repository feed -->
    <add key="BepInEx" value="https://bepinex.dev" />
  </packageSources>
</configuration>
